.maze__wrapper {
  height: 100vh;
  position: relative;
  width: 100vw;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;

  .card__container {
    position: relative;
    z-index: 100;
    background-color: var(--bg-card);
  }

  //  Maze directions
  .east {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 10px;
    position: absolute;
    top: calc(50% - 75px);
  }

  .east {
    flex-direction: row-reverse;
    right: 0;
  }
}

.errorMsg {
  color: var(--clr-error);
}
